.main {
}

.container {
  margin: 20px 10px;
}

.body {
}

.carousel {
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px 0;
  border-bottom: 1px solid var(--black);
}
