/* variables */
:root {
  --black: #3b434e;
  --white: white;
  --gray-light: #ebebeb;
  --primary: #7653fc;
  --primary-hover: #5b38e7;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans", sans-serif;
}
